.container {
  max-width: 1200px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-wrapper .image-list {
  display: grid;
  gap: 18px;
  font-size: 0;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(10, 1fr);
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
}

.container .slider-scrollbar {
  height: 24px;
  width: 100%;

  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track {
  height: 2px;
  width: 100%;
  background: #141111;
}
