@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;400&family=GFS+Didot&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(images/fond.jpg);
  background-size: contain;
}

/* NAV */

.main-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  font-family: "barlow", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.nav-list {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  text-decoration: none;
  text-decoration-color: white;
  color: black;
}

.nav-link:last-child {
  padding-right: 0;
}
.nav-link:hover {
  color: #d1a33d;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #d1a33d;
}
.logo {
  max-width: 70px;
}

section {
  text-align: center;
}
#image-accueil {
  width: 100%;
}

.header-container {
  padding: 20px;
}

h1 {
  font-family: "barlow", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 45px;
  margin-bottom: 20px;
}
h2 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-size: 15px;
  margin-bottom: 50px;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.id-photo {
  margin-top: 20px;
  max-width: 500px;
  max-height: 500px;
}

.text-presentation {
  max-width: 585px;
  height: fit-content;
  margin-bottom: 30px;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  padding: 40px 20px 0px 20px;
  /* text-align: justify; */
}

/* BUTTON */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;

  cursor: pointer;
  color: black;
}

.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
  background: none;
}
.btn-color-2:hover {
  cursor: pointer;
  background: rgb(53, 53, 53);
  color: white;
  border: rgb(255, 255, 255) 0.1rem solid;
}

h3 {
  color: #d1a33d;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  padding-top: 30px;
}

.barre-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.barre-verticale {
  border-left: 1px solid rgb(53, 53, 53);
  height: 60px;
}

/*  PROJECTS GALLERY */

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery .gallery-photo {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  margin: 0 auto;
}

.gallery::after {
  content: "";
  width: 350px;
}

.gallery-photo {
  padding: 10px;
  border-radius: 15px;
}

/* SECTION CONTACT */

.infos {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  padding: 5px;
}

#form-group {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 400px;
  height: 30px;
  margin-bottom: 10px;
  border: 1.5px solid rgb(53, 52, 52);
}
.text-area {
  width: 400px;
  border: 1.5px solid rgb(53, 52, 52);
  resize: none;
}

.send {
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: all 300ms ease;
  padding: 0.5rem;
  width: 7rem;
  border-radius: 2rem;

  cursor: pointer;
  color: black;
}

/* CAROUSEL */

.carousel {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  width: 100%;
  height: 100%;
}
.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s;
  opacity: 0;
}
.carousel-image.active {
  opacity: 1;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}
